.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  transform: translateX(35px);
  pointer-events: none;
}

.word.priority.one {
  background-color: green
}

.word.priority.two {
  background-color: #fad201
}

.word.priority.three {
  background-color: red
}

#circle {
      width: 75px;
      height: 75px;
      background: green;
      border-radius: 50%;
      border-color: white;
      /* border-width: 2px; */
      font-weight: bold;
    }

#circle:hover {
      background: darkgreen;
    }
