.slider {
  padding: 15px 35px 0;
  width: 170px;
  display: inline-block;
  color:black;
}

.input-range__label-container {
  display :none;


}

.title {
  font-size: 16px;
  font-style: bold;
}

.input-range {
  margin-bottom: 25px;
}

.middle {
  margin: 0 auto;
  text-align: center
}
.labels {
  padding: 0px 30px 0px;
  display: inline-block;
  width: 170px;
  color: white;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
}
