.slider {
  padding: 15px 35px 0;
  width: 170px;
  display: inline-block;
  color:white;

}

.input-range__label-container {
  display :none;


}

.title {
  font-size: 16px;
  font-style: bold;
}




.input-range__label--max {
	display :none;
}

.input-range__label--min {
	display :none;
}


.input-range {
  margin-bottom: 25px;
}

.middle {
  margin: 0 auto;
  text-align: center
}
.labels {
  padding: 0px 30px 0px;
  display: inline-block;
  width: 170px;
  color: white;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
}



/* .slider.price{
  width: 350px;
}

.slider.size{
  width: 250px;
} */
